/* .roadmap-table{
  display: grid;
  grid-template-areas: 
  "roadmap-header1 roadmap-header2 roadmap-header3 roadmap-header4 roadmap-header5"
  "shapes1 shapes2 shapes3 shapes4 shapes5"
  "roadmap-list1 roadmap-list2 roadmap-list3 roadmap-list4 roadmap-list5"
  "roadmap-list1 roadmap-list2 roadmap-list3 roadmap-list4 roadmap-list5"
  "roadmap-list1 roadmap-list2 roadmap-list3 roadmap-list4 roadmap-list5"
  ;
  
}

.roadmap-header1{
  grid-area: roadmap-header1;
}
.roadmap-header2{
  grid-area: roadmap-header2;
}
.roadmap-header3{
  grid-area: roadmap-header3;
}
.roadmap-header4{
  grid-area: roadmap-header4;
}
.roadmap-header5{
  grid-area: roadmap-header5;
}
.shapes1{
  grid-area: shapes1;
}
.shapes2{
  grid-area: shapes2;
}
.shapes3{
  grid-area: shapes3;
}
.shapes4{
  grid-area: shapes4;
}
.shapes5{
  grid-area: shapes5;
}
.roadmap-list1{
  grid-area: roadmap-list1;
}

.roadmap-list2{
  grid-area: roadmap-list2;
}
.roadmap-list3{
  grid-area: roadmap-list3;
}
.roadmap-list4{
  grid-area: roadmap-list4;
}
.roadmap-list5{
  grid-area: roadmap-list5;
} */

